nav {
    text-align: center;
}
.col-md-4{
    margin-right: 50px;
}
.table,th {
    text-align: center;
}
thead {
    background-color: #eee;
}
.table>tbody>tr>td {
    vertical-align: middle;
}

.star {
    font-size: 35px;
    cursor: pointer;
}
.star.hover {
    color: gold;
}
.row {
    padding-top: 5%;
    padding-bottom: 5%
}

#the-form .editing,
#the-form.editing .adding{
    display:none;
}
#the-form.editing .editing{
    display:block;
}
#loading{
   width:70px;
    height:70px;
    float:right;
}
#cityHeader,#starsHeader,#visitedHeader,.city-name {
    cursor:pointer;
}
.glyphicon-remove-sign {
    font-size:30px;
    color:red;
}
#giphy {
    background-color:black;
    opacity:0.7;
    width:100%;
    height:100%;
    position:absolute;
    z-index:9999;
    display:none;

}
#giphy-img {
    background-color:white;
    border: 3px solid black;
    width:500px;
    height:500px;
    text-align:center;
    display:inline-block;
}
.sortable a {
    text-decoration:none;
}
