nav {
    text-align: center;
}
.col-md-4{
    margin-right: 50px;
}
.table,th {
    text-align: center;
}
thead {
    background-color: #eee;
}
.table>tbody>tr>td {
    vertical-align: middle;
}

.star {
    font-size: 35px;
    cursor: pointer;
}
.star.hover {
    color: gold;
}
.row {
    padding-top: 5%;
    padding-bottom: 5%
}

#the-form .editing,
#the-form.editing .adding{
    display:none;
}
#the-form.editing .editing{
    display:block;
}
#loading{
   width:70px;
    height:70px;
    float:right;
}
#cityHeader,#starsHeader,#visitedHeader {
    cursor:pointer;
}
